# Importar librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Lectura de dataset

**Origen del dataset.**

 El origen del dataset proviene de la páginca kaggle.com, en donde se descarga un archivo .csv
 link: https://www.kaggle.com/datasets/ahmettalhabektas/argentina-car-prices?resource=download
 
 La temática del archivo a utilizar trata sobre la venta de autos en la página www.Mercadolibre.com.ar por diferentes vendedores.

In [2]:
auto = pd.read_csv('argentina_cars.csv')

In [3]:
auto

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
0,10350000,Toyota,Corolla Cross,2022,Plateado,Nafta,5.0,Automática,NaN,SUV,500,pesos
1,10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Automática,2.4,SUV,500,pesos
2,35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,Automática,2.4,SUV,500,dólares
3,19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5.0,Automática,NaN,SUV,550,dólares
4,5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Manual,1.8,Sedán,9000,pesos
...,...,...,...,...,...,...,...,...,...,...,...,...
505,5250000,Chevrolet,Tracker,2018,Gris,Nafta,5.0,Automática,1.8,SUV,52000,pesos
506,46000,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,49000,dólares
507,3960000,Peugeot,2008,2017,Blanco,Nafta,5.0,Manual,1.6,SUV,75358,pesos
508,44900,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,57500,dólares
509,2890000,Toyota,Etios,2015,Gris,Nafta,5.0,Manual,1.5,Hatchback,84000,pesos

# Tratamiento de datos

**En esta seccion se espera realizar:**
1. Cambiar el nombre de las columnas a español.
2. Cambiar el tipo de dato de las columnas del dataFrame.
3. Realizar correcciones en las cadenas de texto de los registros.
4. Crear columnas que sean pertinentes para el análisis de datos.
5. Eliminar columnas que no sean pertinentes para el análisis.
6. Tratar datos nulos.

In [4]:
# Cambiar nombre de columnas a español

In [5]:
auto.rename(columns = {
    'money':'Precio',
    'brand': 'Marca',
    'model': 'Modelo',
    'year': 'Anio',
    'color': 'Color',
    'fuel_type': 'Tipo_Combustible',
    'door': 'Puertas',
    'gear': 'Transmision',
    'motor': 'Motor',
    'body_type': 'Carroceria',
    'kilometres': 'Kilometros',
    'currency': 'Moneda'
}, inplace = True)

In [6]:
auto

,Precio,Marca,Modelo,Anio,Color,Tipo_Combustible,Puertas,Transmision,Motor,Carroceria,Kilometros,Moneda
0,10350000,Toyota,Corolla Cross,2022,Plateado,Nafta,5.0,Automática,NaN,SUV,500,pesos
1,10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Automática,2.4,SUV,500,pesos
2,35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,Automática,2.4,SUV,500,dólares
3,19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5.0,Automática,NaN,SUV,550,dólares
4,5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Manual,1.8,Sedán,9000,pesos
...,...,...,...,...,...,...,...,...,...,...,...,...
505,5250000,Chevrolet,Tracker,2018,Gris,Nafta,5.0,Automática,1.8,SUV,52000,pesos
506,46000,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,49000,dólares
507,3960000,Peugeot,2008,2017,Blanco,Nafta,5.0,Manual,1.6,SUV,75358,pesos
508,44900,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,57500,dólares
509,2890000,Toyota,Etios,2015,Gris,Nafta,5.0,Manual,1.5,Hatchback,84000,pesos

In [7]:
# Cambiar tipo de datos

In [8]:
auto = auto.astype({
    'Marca':'string',
    'Modelo':'string',
    'Color':'string',
    'Tipo_Combustible': 'string',
    'Puertas':'int',
    'Transmision': 'string',
     'Motor':'string',
    'Carroceria': 'string',
    'Moneda': 'string'
})

In [9]:
# Cambiar cadena de caracteres de la columna Moneda.

In [10]:
auto['Moneda']= auto['Moneda'].replace('pesos','ARS')
auto['Moneda']= auto['Moneda'].replace('dólares','USD')

In [11]:
# Crear columna del precio de auto en dólares.

In [12]:
auto['Precio_Dolar'] = None

In [13]:
# Asignar valores a la columna Precio_Dolar. Los precios expresados en dólares que el vendedor publicó se mantendrán.

In [14]:
# Valor dolar paralelo (10/01/2023): $357,00
valor_dolar={
    'ARS':357,
    'USD':1,
}

for moneda in valor_dolar.keys():
    auto.loc[ auto['Moneda'] == moneda , 'Precio_Dolar' ] = auto.loc[auto['Moneda']== moneda , 'Precio'] // valor_dolar[moneda]
auto['Precio_Dolar'] = auto['Precio_Dolar'].astype('int')

In [15]:
#Se eliminará la columna Precio y Moneda.

In [16]:
auto.drop('Precio', axis = 1, inplace=True )
auto.drop('Moneda', axis = 1, inplace=True )

In [17]:
auto

,Marca,Modelo,Anio,Color,Tipo_Combustible,Puertas,Transmision,Motor,Carroceria,Kilometros,Precio_Dolar
0,Toyota,Corolla Cross,2022,Plateado,Nafta,5,Automática,<NA>,SUV,500,28991
1,Jeep,Compass,2022,Blanco,Nafta,5,Automática,2.4,SUV,500,30392
2,Jeep,Compass,2022,Gris oscuro,Nafta,5,Automática,2.4,SUV,500,35500
3,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5,Automática,<NA>,SUV,550,19000
4,Toyota,Corolla,2019,Gris,Nafta,4,Manual,1.8,Sedán,9000,16246
...,...,...,...,...,...,...,...,...,...,...,...
505,Chevrolet,Tracker,2018,Gris,Nafta,5,Automática,1.8,SUV,52000,14705
506,Volkswagen,Amarok,2019,Gris,Diésel,4,Automática,3.0,Pick-Up,49000,46000
507,Peugeot,2008,2017,Blanco,Nafta,5,Manual,1.6,SUV,75358,11092
508,Volkswagen,Amarok,2019,Gris,Diésel,4,Automática,3.0,Pick-Up,57500,44900
509,Toyota,Etios,2015,Gris,Nafta,5,Manual,1.5,Hatchback,84000,8095

In [18]:
# Tratamiento de datos nulos.

In [19]:
# Conteo de las columnas con valores nulos.
auto.isna().sum()

Marca                0
Modelo               0
Anio                 0
Color               11
Tipo_Combustible     0
Puertas              0
Transmision          1
Motor               11
Carroceria           1
Kilometros           0
Precio_Dolar         0
dtype: int64

In [20]:
# Se asignara valor: Desconocido, a cada registro que posea valor nulo.

In [21]:
auto.fillna('Desconocido', inplace= True)

In [22]:
auto.isna().sum()

Marca               0
Modelo              0
Anio                0
Color               0
Tipo_Combustible    0
Puertas             0
Transmision         0
Motor               0
Carroceria          0
Kilometros          0
Precio_Dolar        0
dtype: int64

# Análisis de Datos

## Se propone dos análisis:

**1) Averiguar las 3 principales marcas de autos en venta, y sus respectivos modelos.**

In [23]:
marcas_principales = auto['Marca'].value_counts()[:3]

marcas_principales = pd.DataFrame({
    'Marca': marcas_principales.index,
})

In [24]:
print("Las 3 principales marcas de auto son:")
print("")
for marca in marcas_principales['Marca']:
    print (marca)

Las 3 principales marcas de auto son:

Volkswagen
Ford
Chevrolet

In [25]:
auto

,Marca,Modelo,Anio,Color,Tipo_Combustible,Puertas,Transmision,Motor,Carroceria,Kilometros,Precio_Dolar
0,Toyota,Corolla Cross,2022,Plateado,Nafta,5,Automática,Desconocido,SUV,500,28991
1,Jeep,Compass,2022,Blanco,Nafta,5,Automática,2.4,SUV,500,30392
2,Jeep,Compass,2022,Gris oscuro,Nafta,5,Automática,2.4,SUV,500,35500
3,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5,Automática,Desconocido,SUV,550,19000
4,Toyota,Corolla,2019,Gris,Nafta,4,Manual,1.8,Sedán,9000,16246
...,...,...,...,...,...,...,...,...,...,...,...
505,Chevrolet,Tracker,2018,Gris,Nafta,5,Automática,1.8,SUV,52000,14705
506,Volkswagen,Amarok,2019,Gris,Diésel,4,Automática,3.0,Pick-Up,49000,46000
507,Peugeot,2008,2017,Blanco,Nafta,5,Manual,1.6,SUV,75358,11092
508,Volkswagen,Amarok,2019,Gris,Diésel,4,Automática,3.0,Pick-Up,57500,44900
509,Toyota,Etios,2015,Gris,Nafta,5,Manual,1.5,Hatchback,84000,8095

In [26]:
modelos_Ford= auto.loc[ auto['Marca'] == 'Ford' ,'Modelo'].unique()
modelos_Volkswagen= auto.loc[ auto['Marca'] == 'Volkswagen' ,'Modelo'].unique()
modelos_Chevrolet= auto.loc[ auto['Marca'] == 'Chevrolet' ,'Modelo'].unique()

In [27]:
print('Los modelos de Ford son:')
print('')
for modelo in modelos_Ford:
    print(modelo)

Los modelos de Ford son:

Ecosport
Ranger
Fiesta
Kuga
Focus III
Ka
Focus II
Mondeo
Fiesta Kinetic Design
Territory
F-100
Ranger Raptor
F-150

In [28]:
print('Los modelos de Volkswagen son:')
print('')
for modelo in modelos_Volkswagen:
    print(modelo)

Los modelos de Volkswagen son:

T-Cross
Polo
Up!
Vento
Nivus
Gol Trend
Gol
Amarok
Golf
Passat
Tiguan Allspace
Suran Cross
Saveiro
Taos
Voyage
Suran
Sharan
Bora
Tiguan

In [29]:
print('Los modelos de Chevrolet son:')
print('')
for modelo in modelos_Chevrolet:
    print(modelo)

Los modelos de Chevrolet son:

Trailblazer
Classic
Onix
Equinox
Spin
Cruze
Cruze II
Aveo
Celta
Prisma
Tracker
S10
Sonic
Meriva
Corsa

### 2) Seleccionar autos en base a requerimientos:

1. No debe superar los 100.000 kilometros.
2. No debe superar los 10.000 dólares
3. Autos posteriores al año 2010.
4. Color: negro, blanco y gris.
5. Marcas: Toyota o Ford.

In [30]:
# Se filtra por anio, kilometros y precio.

auto_10k = auto.query('Anio > 2010 & Kilometros <= 100000 & Precio_Dolar <= 10000')

In [31]:
# Se filtra por Marca y color.

auto_10k.loc[ auto_10k['Marca'].isin(['Toyota', 'Ford']) & auto_10k['Color'].isin(['Negro', 'Blanco', 'Gris']), :]

,Marca,Modelo,Anio,Color,Tipo_Combustible,Puertas,Transmision,Motor,Carroceria,Kilometros,Precio_Dolar
17,Toyota,Etios,2015,Blanco,Nafta,5,Manual,1.5,Hatchback,83000,8235
79,Ford,Ecosport,2014,Negro,Nafta,5,Manual,1.6,SUV,79000,8935
80,Ford,Ka,2019,Blanco,Nafta/GNC,4,Manual,1.5,Sedán,59000,8935
186,Ford,Ka,2013,Gris,Nafta,3,Manual,1.0,Hatchback,70000,4901
225,Ford,Fiesta Kinetic Design,2013,Gris,Nafta,5,Manual,1.6,Hatchback,79000,7422
243,Ford,Fiesta Kinetic Design,2015,Negro,Nafta,5,Manual,1.6,Hatchback,89800,8067
262,Toyota,Etios,2017,Blanco,Nafta,5,Manual,1.5,Hatchback,84000,8263
336,Toyota,Etios,2017,Blanco,Nafta,5,Manual,1.5,Hatchback,85400,8338
481,Ford,Ka,2018,Blanco,Nafta,5,Manual,1.5,Hatchback,30000,9215
490,Ford,Ka,2018,Blanco,Nafta,5,Manual,1.5,Hatchback,58000,8680
500,Toyota,Etios,2017,Blanco,Nafta,5,Manual,1.5,Hatchback,87000,9663
509,Toyota,Etios,2015,Gris,Nafta,5,Manual,1.5,Hatchback,84000,8095